#!/bin/sh
# Copyright 20124 Wazo Team (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        python3 setup.py bdist
        ;;

    package)
        tar xvf dist/wazo-modjo-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
        ;;

    install)
        systemctl restart wazo-call-logd
        ;;

    uninstall)
        systemctl restart wazo-call-logd
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
